<app-navbar></app-navbar>

<table align="center">
    <tr>
        <th>
            <font color="red"><h3>{{form.message}}</h3></font>
        </th>
    </tr>
    <tr align="center">
        <th>LoginId :</th>
        <td><input type="text" [(ngModel)]="form.data.loginId" name="loginId" /></td>
        <td *ngIf="form.inputerror.loginId != null" style="position: fixed;">
            <font color="red">{{form.inputerror.loginId}}</font>
        </td>

    </tr>
    <tr>
        <th>Password :</th>
        <td><input type="text"  [(ngModel)]="form.data.password" name="password" /></td>
        <td *ngIf="form.inputerror.password != null" style="position: fixed;">
            <font color="red">{{form.inputerror.password}}</font>
        </td>

    </tr>
    <tr>
        <th></th>
        <td><button (click)="signIn()">submit</button></td>
    </tr>
</table>